fastapi==0.111.0
uvicorn[standard]==0.29.0
jinja2==3.1.4
websockets==12.0
pyyaml==6.0.1
numpy==1.26.4
opencv-python-headless==4.9.0.80
ultralytics>=8.3.0
insightface==0.7.3
onnxruntime-gpu==1.24.0  # indice: https://pypi.jetson-ai-lab.io/sbsa/cu130
python-multipart==0.0.9
